:root{
--main-color:#434455; 
--secondary-color:#2E2F42;
--accent-color:#4D5AE5; 
--white-color: #FFFFFF;
--main-font-size: 16px;
--main-line-height:1.5;
--main-letter-spacing:0.02em; 
--main-gap:24px;
} 

body{
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
    font-size: var(--main-font-size);
    line-height: var(--main-line-height);
    letter-spacing: var(--main-letter-spacing);
}

h1,h2,h3,h4,p{
    margin-top: 0;
    margin-bottom: 0;
}

ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img{
    display: block;
}

button{
     cursor: pointer;
}

.list{ 
   list-style-type: none; 
}
.link{ 
   text-decoration: none; 
}
.nav-link.current{
    color: var(--accent-color);
}
.title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--secondary-color);
    padding-bottom: 72px;
}
.subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--secondary-color);
    padding-bottom: 8px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container{
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.section{
    padding-top: 120px;
    padding-bottom: 120px;
}
/* ========================== Studio page============================ */

/*-----------------------------Header---------------------------------*/
.page-header{
border-bottom: 1px solid #E7E9FC;
}
.page-header-container{
   display: flex; 
   justify-content: space-around;
   padding-top: 24px;
   padding-bottom: 24px;
}

.nav{
    display: flex;
}

.site-nav{
    display: flex;
    gap: 40px;
}

.address-list{
    display: flex;
}

.header-logo {
   font-family: 'Raleway', sans-serif;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.33;
   letter-spacing: 0.03em;
   text-transform: uppercase; 
   color:var(--secondary-color);
   padding-right: 76px;
} 
.accent{
   color: var(--accent-color); 
} 
.nav-link {
   font-weight: 500;
   color: var(--secondary-color); 
} 

.address-link {
   font-style: normal;
   color: var(--main-color);
}

.address-item:first-child{
padding-right: 40px;
}

.nav-link:hover,
.nav-link:focus{
    color: var(--accent-color);
}
.address-link:hover,
.address-link:focus{
    color: var(--accent-color);
}
/*----------------------------/Header-------------------------------------------*/

/*---------------------------- Hero--------------------------------------------- */
.hero{
    background-color: var(--secondary-color);
}

.hero-container{
    width: 496px;
    margin-left: auto;
    margin-right: auto;  
    padding-top: 180px;
    padding-bottom: 188px;
}

.hero-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: var(--white-color);
    padding-bottom: 48px;
}
.hero-btn{
    display: block;
    font-weight: 500;
    font-size: inherit;
    line-height: inherit; 
    letter-spacing: 0.04em;
    background-color: var(--accent-color);
    color: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
}
.hero-btn:hover,
.hero-btn:focus{
    background-color: #404BBF;
}
/* -----------------------------/Hero-------------------------------------------- */

/* -----------------------------Principles of work section-------------------------------------------- */
.principles-list{
    display: flex;
    padding-top: 120px;
    gap: var(--main-gap);
}
.principles-item{
    width: calc((100%-3*var(--main-gap))/4);
}

/* -----------------------------/Principles of work section-------------------------------------------- */

/*------------------------------ What are we doing section---------------------------------------- */
.product-list{
    display: flex;
    gap: var(--main-gap);
}
.product-item{
    width: calc((100%-2*var(--main-gap))/3);
}
/*------------------------------ /What are we doing section---------------------------------------- */
/*------------------------------ Our Team---------------------------------------- */
.team{
    background-color: #F4F4FD;
}
.team-list{
    display: flex;
    gap: var(--main-gap);
}
.team-item{
    width: calc((100%-3*var(--main-gap))/4);
}
.text-box{
    background: #FFFFFF;
}
.team-subtitle{
    text-align: center;
    padding-top: 32px;
}
.team-desc{
    text-align: center;
    padding-bottom: 32px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
/*------------------------------ /Our Team -------------------------------------*/

/*------------------------------ Footer ----------------------------------------*/
.page-footer{
    background-color: var(--secondary-color);
}

.page-footer-container{
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-logo{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}
.footer-desc{
    width: 264px;
    color:#E7E9FC;
    padding-top:16px;
}
/* --------------------------/Footer------------------------------------------- */

/* ==========================/Studio page============================ */

/*===========================Portfolio page========================== */
.portfolio-btn{
    font-weight: 500;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: 0.04em;
    background-color: #F4F4FD;
    color: var(--accent-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus{
    background-color: #404BBF;
    color: var(--white-color);
}
/*===========================/Portfolio page========================== */